@model IEnumerable<InventorySystem.Models.subCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add SUb Category", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
             Category
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.scid }) |
            @Html.ActionLink("Details", "Details", new { id=item.scid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.scid })
        </td>
    </tr>
}

</table>
